ul, p,h1,h2,h3,h4,h5,h6, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

li {
    list-style: none;
}

button, select {
    outline: none;
    cursor: pointer;
    background-color: #fff;
    border: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.col-8 {
    width: 66.66%;
}
.col-7 {
    width: 58.33%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.66%;
}
.col-4 {
    width: 33.33%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66%;
}
.col-1 {
    width: 8.33%;
}

